/* #044700 -- cor primária */

@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header section */

.header-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.menu-section .menu-content{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 20px;
    font-size: 1.1em;
    margin: -50px 35px;
    padding: 50px 0 120px;
}

.menu-section .menu-content .menu-items {
    border: 2px solid transparent;
    border-radius: 35px;
    transition: 0.3s ease;
    padding: 20px;
    font-weight: 500;
}
.menu-section .menu-content .menu-items:hover {
    background-color: #0c5808;
}

.menu-section .menu-content a {
    color: white;
}
.header-section, .main-details {
    background-color: #99CD85;
    padding: 20px 0px 10px;
}

/* main header */

.main-details h2 {
    font-size: 5.5em;
    color: white;
    margin-bottom: 5px;
    padding: 30px;
    font-family: "Miniver";
    font-weight: 700;
}

.main-details .descricao {
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
    width: 400px;
}

.main-details .main-descricao {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 40px;
    padding: 60px 80px;
}

.main-details .main-descricao .main-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-details .main-descricao .main-image img {
    width: 500px;
    height: 600px;
    padding: 20px 50px;
    margin-left: 400px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.main-descricao .botoes {
    display: flex;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
    border: 2px solid transparent;
    font-weight: 600;
}

.main-descricao .botoes a {
    color: white;
    text-decoration: none;
    border-radius: 35px;
    transition: 0.3s ease;
    background-color: #10910a;
    padding: 20px 20px;
    width: 140px;
    border: 2px solid transparent;
}

.main-descricao a:hover {
    background-color: #2db319;
    border-color: #21e616;
}

.image-main {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: -530px;
    margin-left: 150px;
}

/* About Section */

.about-section {
    padding: 50px 0 100px;
}

.about-section .about-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 50px;
}

.about-section .about-descricao .about-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.4 ease;
}

.about-section .about-descricao .brands i{
    font-size: 1.3em;
    margin-left: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.about-section .about-descricao .brands i:hover {
    color: #21e616;
}

.about-section .about-descricao .about-text {
    font-size: 1.3em;
    margin-bottom: 10px;
    width: 400px;
}

.about-title {
    font-size: 3em;
}

.about-title::after {
    content: "";
    width: 80px;
    margin: 5px auto 0;
    height: 5px;
    display: block;
    background-color: #21e616;
    border-radius: 10px;
}

/* zero glu section */

.zeroglu-section {
    padding: 60px 0px 100px;
    background-color: #99CD85;
}

.section-content .zeroglu-title {
    font-size: 2.5em;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

.section-zeroglu .list-zeroglu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
}

.section-zeroglu .list-zeroglu .zeroglu-items{
    width: calc(40% - 15px);
    text-align: center;
    padding: 20px;
} 

.list-zeroglu .zeroglu-items .zeroglu-images {
    width: 500px;
    height: 400px;
    transition: 0.4s ease;
    cursor: zoom-in;
}

.zeroglu-ti {
    color: white;
    margin-bottom: 10px;
}

.zeroglu-descricao {
    color: white;
}

.list-zeroglu .zeroglu-items .zeroglu-images:hover {
    transform: scale(1.3);
}

/* Zero açucar section */

.zeroacu-section {
    padding: 60px 0px 100px;
    background-color: #faf4f5;
}

.zeroacu-section h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 15px;
}

.zeroacu-section .zeroacu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
}

.zeroacu-section .zeroacu-list .zeroacu-items {
    width: calc(40% - 15px);
    text-align: center;
    padding: 20px;
}

.zeroacu-list .zeroacu-items .zeroacu-images {
    width: 600px;
    height: 400px;
    transition: 0.4s ease;
    cursor: zoom-in;
}

.zeroacu-list .zeroacu-items .zeroacu-images:hover {
    transform: scale(1.3);
}

/* Zero lactose section */

.zerolact-section {
    padding: 60px 0px 100px;
    background-color: #99CD85;
}

.zerolact-section h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.zerolact-section .zerolact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
}

.zerolact-section .zerolact-list .zerolact-items {
    width: calc(40% - 15px);
    text-align: center;
    padding: 20px;
    color: white;
}

.zerolact-list .zerolact-items .zerolact-images {
    width: 600px;
    height: 400px;
    transition: 0.4s ease;
    cursor: zoom-in;
}

.zerolact-list .zerolact-items .zerolact-images:hover {
    transform: scale(1.3);
}